header ul li:nth-child(3) a::before {
    transform: translateY(-1.375rem);
    opacity: 1;
}

header ul li:nth-child(3) a {background-color: var(--dark);}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid green;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: green transparent transparent transparent;
}

.lds-ring div:nth-child(1) {animation-delay: -0.45s;}
.lds-ring div:nth-child(2) {animation-delay: -0.3s;}
.lds-ring div:nth-child(3) {animation-delay: -0.15s;}

@keyframes lds-ring {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

header ul li:nth-child(3) a::after{
    top: -5px;
    border-top: 0.1875rem solid var(--colorA);
}

.pre-contact{
    position: relative;
    width: 100%;
    height: 100vh;
    max-height: 45rem;
    min-height: 37.5rem;
    background: url(../img/mensaje-fondo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap-reverse;
    padding: 5rem 0;
}

#aguacatito {
    position: absolute;
    width: 7.5rem;
    height: 7.5rem;
    object-fit: cover;
    bottom: 0.625rem;
    right: 0.625rem;
}

.contenedor-contact{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 9.375rem;
    height: 9.375rem;
    margin: 0.625rem;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 1.25rem;
}

.contenedor-contact img{
    width: 4.375rem;
    height: 4.375rem;
    border-radius: 1.25rem;
    transition: transform .3s;
}

.contenedor-contact:hover img{transform: scale(1.05);}

.contenedor-contact > h2 {
    color: var(--light);
    font-size: 1.125rem;
    text-align: center;
}

/* Seccion de contactanos :v */
#contactanos {
    width: 100%;
    display: grid;
    place-items: center;
    margin-bottom: 50px;
    position: relative;
}

#img-aguacate {
    position: absolute;
    bottom: -1.5625rem;
    right: -1.5625rem;
    width: 7.5rem;
    height: 7.5rem;
}

#contact {
    position: relative;
    width: 80%;
    max-width: 25rem;
    min-width: 17.5rem;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 0.5rem rgba(0 0 0 / 20%);
}

#contact .imgC{
    position: relative;
    width: 100%;
    height: 3.4375rem;
    background: linear-gradient(270deg, var(--lightgreen), var(--green));
    display: flex;
    align-items: center;
    justify-content: center ;
    text-align: center;
}

#contact .imgC p{
    width: 60%;
    display: none;
}

.imgC img{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 0.3125rem;
}

.imgC h1 {
    position: absolute;
    font-size: 1.125rem;
    color: var(--green);
    transform: translateY(-3.125rem);
}

#form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    position: relative;
}

.formContenido {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.errores{
    color: red;
    font-size: 14px;
    animation: err 2s forwards;
    position: absolute;
    bottom: -20px;
}

@keyframes err {
    from {opacity: 0;} 
    to {opacity: 1;}
}

#titForm{
    font-size: 1.875rem;
    font-weight: 600;
    margin-bottom: 10px;
    color: var(--green);
}

#ftit {
    width: 80%;
    border: none;
    margin-bottom: 0.9375rem;
    padding: 0.3125rem 0.625rem;
    border-radius: 0.625rem;
    font-family: 'Akaya Telivigala', cursive;
    background: rgba(0, 0, 0, 0.1);
}

:is(#ftit:focus, #fcom:focus){
    outline: none;
}

#fcom {
    width: 80%;
    border: none;
    padding: 5px 10px;
    resize: none;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    vertical-align: top;
    margin-bottom: 0.9375rem;
    height: 9.375rem;
    font-family: 'Akaya Telivigala', cursive;
    border-radius: 0.625rem;
    background: rgba(0, 0, 0, 0.1);
}

#fcom::-webkit-scrollbar {background: transparent;}

#enviar {
    width: 120px;
    height: 30px;
    border: none;
    font-family: 'Akaya Telivigala', cursive;
    background: var(--darkgreen);
    border-radius: 0.625rem;
    color: var(--light);
    margin-bottom: 0.9375rem;
    transition: background-color .3s;
}

#enviar:is(:focus, :hover) {
    outline: none;
    background: var(--purple);
    cursor: pointer;
}

#botonRegister{
    font-family: 'Akaya Telivigala', cursive;
    width: 6.875rem;
    height: 1.875rem;
    border: var(--light) 0.125rem solid;
    color: var(--light);
    background: transparent;
    display: grid;
    place-items: center;
    text-decoration: none;
    transition: background-color .3s, color .3s;
}

#botonRegister:is(:focus, :hover) {
    outline: none;
    background: var(--light);
    color: var(--dark);
    cursor: pointer;
}

.i-framesi {
    width: 98%;
    max-width: 43.75rem;
    height: 25rem;
    border: none;
    box-shadow: 0 0 0.3125rem rgba(0, 0, 0,  0.2);
    margin-bottom: 3.125rem;
}

@media (min-aspect-ratio: 7 / 6) {
    header ul li:nth-child(3) a {background-color: transparent;}

    .contenedor-contact {
        width: 12.5rem;
        height: 12.5rem;
    }

    .contenedor-contact img {
        width: 6.25rem;
        height: 6.25rem;
    }

    .contenedor-contact > h2 {
        font-size: 1.45rem;
    }

    #aguacatito {
        width: 10rem;
        height: 10rem;
    }
}